.game-wrapper_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .game-log_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .game-log_map {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
}
