.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  // background-color: #9dcbf3a6;
  .home-header {
    position: absolute;
    top: 20px;
    color: #1a1af6;
    // background-color: #faebd79f;
    padding: 20px;
  }

  .home-info_text {
    display: flex;
    font-size: 1.6rem;
    width: 40%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    // background-color: #faebd79f;
    margin-bottom: 50px;
    h3,
    p {
      margin: 0;
      padding: 0;
    }
    p {
      margin-left: 50px;
    }
  }

  p.home-players_value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  .home-value_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    form.home-players_number {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      input {
        width: 100px;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        border: 2px solid #000;
        border-radius: 3px;
        background-color: #fff;
      }
    }
    button.button-submit {
      border: none;
      background-color: #a7e0fc;
      padding: 10px 15px;
      color: #fff;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  .home-play_button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #a7e0fc;
    color: #fff;
    font-size: 1.3rem;
  }

  .rules-link {
    position: absolute;
    bottom: 10px;
    left: 10px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}
