.game-wrapper_players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .players-counter_map {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    margin: 20px;

    h3 {
      margin: auto auto 0;
    }

    .players-map_score {
      margin-top: 20px;
    }
  }
}
