@import url('https://db.onlinewebfonts.com/c/a89cf050c859a23e4b6d9cf5989acf9e?family=Myriad+Pro');



/* Media - breakpoints */
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  oldDesktop: 992px,
  desktop: 1200px
);


/* Colors */
$logoLinkColor: #000;
$logoLinkHoverColor: #0d8700;
$mainMenuColor: #535c68;
$tokenColor: #fff;
$homeBookBGColor: #f5f5f5;
$rightsColor: #828282;

/* Fonts */
$logoLinkFont: 26px/26px 'Myriad Pro', sans-serif; 
$mainMenuFont: 16px/26px 'Myriad Pro', sans-serif;
$leftNavBarHeaderFont: 24px 'Myriad Pro', sans-serif;
$leftNavBarOptionsFont: 18px/48px 'Myriad Pro', sans-serif;
$titleBookFont: 18px/26px 'Myriad Pro', sans-serif;
$productBookAutorFont: 20px 'Myriad Pro', sans-serif;
$bookDescriptionFont: 16px/20px 'Myriad Pro', sans-serif;