@import url('https://db.onlinewebfonts.com/c/a89cf050c859a23e4b6d9cf5989acf9e?family=Myriad+Pro');



/* Media - breakpoints */
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  oldDesktop: 992px,
  desktop: 1200px
);


/* Colors */


/* Fonts */
