.footerMenuLink {
    font: $titleBookFont;
    color: $logoLinkColor;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background-color: transparent;
    
    &:hover, &:active, .active {
        color: $logoLinkHoverColor;
    }

    @include media ('>phone','<oldDesktop') {
        padding: 0 10px;
        font-size: 20px;    
    }

    @include media ('<550px') {
        padding: 0 10px;
        font-size: 16px;
    }
}