.leftNavBarHeader {
    margin: 0;
    font: $leftNavBarHeaderFont;
    color: $logoLinkColor;
    letter-spacing: 2px;

    @include media ('>phone','<oldDesktop') {
        padding: 0 10px;   
    }
}