.logoLink {
    font: $logoLinkFont;
    color: $logoLinkColor;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    
    &:hover {
        color: $logoLinkHoverColor;
    }

    @include media ('>phone','<oldDesktop') {
        padding: 0 0 20px 0;
        display: inline-block;
        width: 100%;
        text-align: center;      
    }
}