.productBookTitle {
    margin: 0;
    padding: 0 20px;
    display: block;
    font: $leftNavBarHeaderFont;
    color: $logoLinkColor;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}