.toCart {
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
    font: $mainMenuFont;
    color: $tokenColor;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $logoLinkHoverColor;
    text-align: center;

    &:hover, &:active {
        background-color: $logoLinkColor;
    }

}