.token {
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #0d8700;
    border: 2px solid #95afc0;
    color: $tokenColor;
    font: $mainMenuFont;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 2px 8px 10px rgba(0,0,0,0.25); 
    z-index: 100;
}